body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}
.product_card {
  width: 20rem;
  margin: 1.87rem;
  border: $dark-green-color 5px;
  border-radius: 5px;
  &_body,
  &_header {
    background-color: $color-primary;
  }
  &_header {
    display: block;
    margin-block: 0;
    margin-inline: 0;
  }
  &_footer {
    background-color: $color-secondary;
    display: flex;
    justify-content: space-around;
  }
  &_img {
    height: 14rem;
  }
  &_qty_input {
    width: 5rem;
    border-radius: 5px;
  }
}
.doner_app_button {
  border-radius: 5px;
  color: $color-secondary;
  background-color: $color-primary;
  &:hover {
    color: $dark-green-color;
    background-color: $orange-color;
  }
  &:active {
    background-color: $dark-green-color;
    color: $orange-color;
  }
}

.header-footer-items {
  cursor: pointer;
  text-decoration: underline;
  color: $color-secondary;
  font-weight: bold;
  &:hover {
    color: $dark-green-color;
  }
  &:active {
    color: $violet-color;
  }
}

.spinner {
  margin: 5rem auto;
  text-align: center;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid $color-secondary;
  width: 6rem;
  height: 6rem;
  animation: rotate 2s infinite linear;
}

.loading {
  display: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.icon {
  margin-right: 1rem;
  &_price,
  &_weight {
    background-color: $color-secondary;
    border-radius: 20%;
  }
}
