body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}
.product_card {
  width: 20rem;
  margin: 1.87rem;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
  &_body,
  &_header {
    background-color: $color-primary;
  }
  &_header {
    display: block;
    margin-block: 0;
    margin-inline: 0;
  }
  &_footer {
    background-color: $color-secondary;
    display: flex;
    justify-content: space-between;
  }
  &_img {
    height: 14rem;
  }
  &_qty_input {
    width: 4.8rem;
    border-radius: 5px;
  }
}
.restaurant_card {
  width: 20rem;
  margin: 1.87rem;
  background-color: $color-primary;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    .restaurant_card_name {
      animation: move 2s infinite linear;
    }
  }
}
.doner_app_button {
  cursor: pointer;
  border-radius: 5px;
  color: $color-secondary;
  background-color: $color-primary;
  &:hover {
    color: $dark-green-color;
    background-color: $orange-color;
  }
  &:active {
    background-color: $dark-green-color;
    color: $orange-color;
  }
}
.header-footer-items {
  cursor: pointer;
  text-decoration: underline;
  color: $color-secondary;
  font-weight: bold;
  &:hover {
    color: $dark-green-color;
  }
  &:active {
    color: $violet-color;
  }
}
.spinner {
  margin: 5rem auto;
  text-align: center;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid $color-secondary;
  width: 6rem;
  height: 6rem;
  animation: rotate 2s infinite linear;
}
.loading {
  display: none;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes move {
  0% {
    transform: translateX(-40px);
  }
  50% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(-40px);
  }
}
.icon {
  margin-right: 1rem;
  &_price,
  &_weight {
    background-color: $color-secondary;
    border-radius: 20%;
  }
}
.error {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 4rem;
  display: flex;
  img {
    height: 3rem;
    width: 3rem;
  }
  p {
    margin-left: 1.5rem;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 600;
    color: $color-secondary;
  }
}
.btn--inline {
  font-weight: 600;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 2rem;
  background-color: $color-primary;
  color: $dark-green-color;
  span {
    margin: 0 0.4rem;
  }
  &:hover {
    color: $color-secondary;
    background-color: $orange-color;
  }
  &:active {
    color: $orange-color;
    background-color: $color-secondary;
  }
  &:focus {
    outline: none;
  }
}
.modal_message {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $grey-color;
  opacity: 0.95;
  padding-top: 10rem;
  &-content {
    background-color: $color-primary;
    margin: 5% auto 15% auto;
    border: 3px solid $dark-green-color;
    border-radius: 2%;
    width: 30%;
    height: 10rem;
    &_close {
      position: absolute;
      right: 42rem;
      font-size: 40px;
      font-weight: bold;
      color: $color-secondary;
      cursor: pointer;
      &:hover {
        color: $violet-color;
      }
      &:active {
        color: $dark-green-color;
      }
    }
    &_container {
      padding: 1rem;
      text-align: center;
    }
  }
}
.form-field {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  &_label {
    color: $dark-yellow-color;
  }
}
