.header {
  background-color: #ffefa4;

  &__logo {
    margin-left: 1rem;
    height: 6.6rem;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    list-style: none;
    display: flex;
  }

  &__item {
    position: relative;
    cursor: pointer;
  }
}
