#menu-page {
  background-color: $violet-color;
  min-height: 80vh;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search_dropdown_container {
  background-color: $dark-green-color;
  width: 100vw;
  display: flex;
  font-size: 0.75rem;
  .search_input {
    width: 15rem;
    font-size: 0.75rem;
    &_span {
      color: $color-primary;
      background-color: $color-secondary;
      font-size: 0.75rem;
    }
  }
  .dropdown {
    width: 25rem;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 0.75rem;
    &_label {
      padding: 0.5rem;
      border-radius: 5px;
      color: $color-primary;
      background-color: $color-secondary;
    }
    #category {
      padding: 0.4rem;
      border-radius: 5px;
    }
  }
}
.pagination_menu_page {
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
}
.para_current-page {
  margin: 2.75rem;
  color: $dark-green-color;
}
.welcome-para {
  color: $color-primary;
  margin: 1.5rem 0 0 8.5rem;
}
.change_qty_btn {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.1rem;
}
.nav__item_logout,
.nav__item_register {
  margin-right: 5rem;
}
.cart-tooltip {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-top: 2.9rem;
  right: 0.3rem;
  z-index: 10;
  a {
    .cart-img-icon {
      width: 4rem;
      height: 4rem;
    }
  }
  .cart-items-count {
    margin-top: 2rem;
    padding-right: 1.5rem;
    text-align: center;
    color: $color-secondary;
    text-decoration: none !important;
    bottom: -0.1rem;
  }
  &-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 11rem;
    color: $color-primary;
    font-size: 12px;
    background-color: $color-secondary;
    border-radius: 1rem;
    padding: 2px;
    top: 7.1rem;
    right: 0.2rem;
    max-height: 32rem;
    overflow: auto;
    text-align: center;
  }
  &:hover {
    .cart-tooltip-text {
      visibility: visible;
    }
  }
}
.add_to_cart_btn{
  margin-right: 0.1rem;
}