#order-history-page{
    min-height: 80vh;
    background-color: $violet-color;
    display: flex;
    align-items: center;
    justify-content: center;
    .order-history-container{
    margin: 7rem;
    color: $color-primary;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &-order {
        width: 50vw;
        text-align: center;
        margin: 1rem;
        background-color: $color-secondary;
        border-radius: 8%;
        &-date{
            margin: 1.5rem;
            font-style: italic;
        }
        &-cart{
            text-decoration: underline;
            font-style: italic;
        }
        &-amount{
            font-style: italic;
            margin-bottom: 1rem;
        }
        }
    }
}