#restaurants-page {
  background-color: $violet-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.restaurants-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.restaurants-map {
  display: flex;
  justify-content: center;
  background-color: $violet-color;
  width: 50rem;
  height: 35rem;
  margin-bottom: 5rem;
  &-pane {
    height: 30rem;
    width: 80rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex: 1;
    iframe {
      height: 25rem;
      width: 40rem;
    }
  }
}
.ol-attribution,
.ol-rotate-reset {
  display: none;
}
.ol-control {
  position: absolute;
  right: 1rem;
  bottom: 2rem;
}
.ol-viewport {
  border-radius: 3%;
}
.ol-zoom-in,
.ol-zoom-out {
  margin: 0.5rem;
}
